.table-class {
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px
    }

.status-ok {
    color: green
}

.status-danger {
    color: red
}

.node-alert {
    background-color: MistyRose
}
.sensor-alert {
    background-color: LightCyan
}